$radius: 1rem;

*,
*::before,
*::after {
  
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 20rem));
  gap: 0rem;
  justify-content: center;
  margin-bottom: 50px;
}

.card-container {
  margin-top: 300px;
}

.card {
  
  width: 300px;
  height: 450px;
  overflow: hidden;
  border: solid white 1px;
  display: flex;
  margin: 1rem;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 100ms ease-in;
  
  
  &__image {
    height: 12rem;
    width: 100%;
    object-fit: cover;
  }

  &__center {
    text-align: center;
}

  &__title {
    font-family: 'Ubuntu', sans-serif;    padding: 1rem;
    font-size: 20px;
  }

  &__description {
    font-family: 'Trispace', sans-serif;
    margin-top: 0.5rem;
    padding: 0 1rem;
    font-size: 12px;
  }

  &__btn {
    font-family: 'Trispace', sans-serif;
    height: 3rem;
    width: 6rem;
    font-weight: bold;
    font-size: 12px;
    
    margin: 1rem;
    background: transparent;
    color: white;
  }

  &:hover {
    transform: scale(1.02);
  }

  &:hover &__btn {
    border: 1px solid white;
    background: #126660;
    color: white;
  }
}

@media screen and (max-width: 960px) {

  .wrapper{
    margin-right: 1rem;
  }
}

//   wrapper