.container {
    width: 90%;
    display: table;
    margin: 20px auto 30px auto;

}

.contact-wrapper {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;


}

.contact-wrapper .left {
    display: table;
    margin: 10px 10px 10px 10px;
    width: 20vw;
}

.contact-wrapper .right {
    display: table;
    margin: 10px 10px 10px 10px;
    width: 38vw;

}

@media screen and (max-width: 1200px) {
    .contact-wrapper {
        flex-direction: column;
    }

    .contact-wrapper .left {
        display: table;
        margin: 0 auto;
        width: 85vw;

    }

    .contact-wrapper .right {
        display: table;
        margin: 0 auto;
        width: 85vw;

    }

}