.contact-info-wrapper {
    width: auto;
    box-sizing: border-box;
    height: auto;
    padding: 1rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    border: 1px solid white;

}

.contact-info-wrapper .icon {
    background: transparent;
}


.contact-info-wrapper .label {
    background: transparent;
    color: white;
    font-size: 16px;
}