.about-me-flex {
    margin-top: 5rem;
    display: flex;
    justify-content: center;

}

.container {
    flex: grid;
    place-items: center;
}

.about-me {

    justify-content: center;
    align-items: center;
    width: 400px;
    height: fit-content;
}

.about-me>h1 {}

.about-me>p {

    margin-top: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}


.about-me-side {
    display: flex;
    margin-left: 4rem;
}

.about-me-side.image {

    height: 30rem;
    width: 30rem;
    filter: grayscale(100%);
}


@media screen and (max-width: 960px) {


    .about-me {
        justify-content: center;
        align-items: center;
        width: 400px;
        height: fit-content;
    }

    .about-me>h1 {
        font-size: 23px;
        margin: 2rem;
    }

    .about-me>p {

        margin: 2rem;
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        width: fit-content;
    }

}