* {
    font-family: 'Trispace', sans-serif;

}

.skills-title {
    height: auto;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}


.skills-title>h1 {
    font-size: 22px;
}


.skills-title span {
    margin-top: 4px;
    display: block;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 42px;
}

.skills-container {
    margin-top: 150px
}

.skills-bar {
    width: 640px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 15rem;
    padding: 10px;
    position: relative;
    border: 1px solid white;
}

.skills-bar .bar {
    margin: 20px;
}

.skills-bar .bar .info {
    margin-bottom: 5px;
}

.skills-bar .bar .info span {
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background-color: #242424;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1.5s cubic-bezier(1, 0, 0.5, 1) forwards;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px rgba(101, 97, 97, 0.8);
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}


.bar .progress-line span {
    height: 100%;
    width: 80%;
    background: linear-gradient(0.25turn, #8feae4, #0aa197);
    position: absolute;

}

.bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    right: 0;
    top: -10px;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: white;
}

.bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    background: white;
    padding: 1px 8px;
    border-radius: 3px;
}

/* BARS */
.progress-line.python span::after {
    content: "90%";
}

.progress-line.python span {
    width: 90%;
}

.progress-line.pt span::after {
    content: "80%";
}

.progress-line.pt span {
    width: 80%;
}

.progress-line.cpp span::after {
    content: "75%";
}

.progress-line.cpp span {
    width: 75%;
}

.progress-line.html span::after {
    content: "60%";
}

.progress-line.html span {
    width: 60%;
}

.progress-line.css span::after {
    content: "75%";
}

.progress-line.css span {
    width: 75%;
}

.progress-line.react span::after {
    content: "70%";
}

.progress-line.react span {
    width: 70%;
}

.progress-line.js span::after {
    content: "65%";
}

.progress-line.js span {
    width: 65%;
}

/* BARS */
@media screen and (max-width: 960px) {
    .skills-bar {
        width: 300px;
        height: auto;
    }

    .skills-bar .bar {
        margin: 10px;
    }

    .skills-bar .bar .info span {
        font-size: 12px;
        font-weight: bold;
        color: white;
    }


    .bar .progress-line span::after {
        position: absolute;
        right: 0;
        top: -26px;
        color: black;
        font-size: 12px;
        font-weight: bolder;
        background: white;
        padding: 1px 4px;
        border-radius: 3px;
    }

}